*{
    margin: 0;
    color: white;
}
#id{
    background-color: black;
    height: 60px;
}
#logo{
    color: blue;
    height: 60px;
    font-size: larger;
}
a{
    /* margin-right: 200px; */
    padding-right: 200px;
    text-decoration: none;
}
#input{
    padding-right: 150px;
}